#contactForm__part{
    padding: 80px 0;
     background-color: #FFF8F5;
}
.message__form{
    margin-top: 50px;
}
.message__form .form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #F63E7B;
    outline: 0;
    box-shadow: none;
}