#testimonial__part{
    margin: 80px 0;
}
.testimonital__content{
    margin-top: 50px;
    padding: 0 40px;
}
.user__image img{
    width: 70px;
    margin-right: 30px;
}
.user__star img{
    width: 30px;
}
.user__title h4{
    font-size: 23px;
    font-weight: 700;
}
.user__title h5{
    font-size: 18px;
    font-weight: 500;
}
.testimonital__content p{
    font-size: 18px;
    font-weight: 400;
    margin: 20px 0;
    color: #999;
}