#professional__part{
    padding: 50px;
    background-color: #FFF8F5;
}
.professional__content{
    height: 400px;
    width: 100%;
    transform: translateY(60px);
}
.professional__content p{
    font-size: 18px;
    font-weight: 400;
    margin: 30px 0;
}
.services__info{
    margin-right: 100px;
}
.services__info h3{
    font-size: 30px;
    font-weight: 700;
}
.services__info h6{
    font-size: 18px;
    font-weight: 500;
}